In [1]:
import pandas as pd

# Wine recommender

## Load the data

In [23]:
wines_df = pd.read_csv('Dataset/last/XWines_Slim_1K_wines.csv', low_memory=False, index_col='WineID')
ratings_df = pd.read_csv('Dataset/last/XWines_Slim_150K_ratings.csv', low_memory=False)

In [24]:
wines_df.head()

,WineName,Type,Elaborate,Grapes,Harmonize,ABV,Body,Acidity,Code,Country,RegionID,RegionName,WineryID,WineryName,Website,Vintages
WineID,,,,,,,,,,,,,,,,
100001,Espumante Moscatel,Sparkling,Varietal/100%,['Muscat/Moscato'],"['Pork', 'Rich Fish', 'Shellfish']",7.5,Medium-bodied,High,BR,Brazil,1001,Serra Gaúcha,10001,Casa Perini,http://www.vinicolaperini.com.br,"[2020, 2019, 2018, 2017, 2016, 2015, 2014, 201..."
100002,Ancellotta,Red,Varietal/100%,['Ancellotta'],"['Beef', 'Barbecue', 'Codfish', 'Pasta', 'Pizz...",12.0,Medium-bodied,Medium,BR,Brazil,1001,Serra Gaúcha,10001,Casa Perini,http://www.vinicolaperini.com.br,"[2016, 2015, 2014, 2013, 2012, 2011, 2010, 200..."
100003,Cabernet Sauvignon,Red,Varietal/100%,['Cabernet Sauvignon'],"['Beef', 'Lamb', 'Poultry']",12.0,Full-bodied,High,BR,Brazil,1001,Serra Gaúcha,10002,Castellamare,https://www.emporiocastellamare.com.br,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
100005,Maison de Ville Cabernet-Merlot,Red,Assemblage/Bordeaux Red Blend,"['Cabernet Sauvignon', 'Merlot']","['Beef', 'Lamb', 'Game Meat', 'Poultry']",11.0,Full-bodied,Medium,BR,Brazil,1001,Serra Gaúcha,10000,Aurora,http://www.vinicolaaurora.com.br,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
100007,Do Lugar Moscatel Espumantes,Sparkling,Varietal/100%,['Muscat/Moscato Bianco'],"['Pork', 'Rich Fish', 'Shellfish']",7.5,Medium-bodied,High,BR,Brazil,1001,Serra Gaúcha,10012,Dal Pizzol,http://www.dalpizzol.com.br,"[2018, 2017, 2016, 2015, 2014, 2013, 2012, 201..."

In [4]:
ratings_df.head()

   RatingID   UserID  WineID Vintage  Rating                 Date
0       143  1356810  103471    1950     4.5  2021-11-02 20:52:59
1       199  1173759  111415    1951     5.0  2015-08-20 17:46:26
2       348  1164877  111395    1952     5.0  2020-11-13 05:40:26
3       374  1207665  111433    1953     5.0  2017-05-05 06:44:13
4       834  1075841  111431    1955     5.0  2016-09-14 20:18:38

## Compute the average rating for each wine

In [71]:
average_ratings = ratings_df.groupby('WineID')['Rating'].mean().reset_index()
wine_df_avg_ratings = pd.merge(wines_df, average_ratings, on='WineID', how='left')
wine_df_avg_ratings.rename(columns={'Rating': 'AvgRating'}, inplace=True)
wine_df_avg_ratings.set_index('WineID', inplace=True)
wine_df_avg_ratings

,WineName,Type,Elaborate,Grapes,Harmonize,ABV,Body,Acidity,Code,Country,RegionID,RegionName,WineryID,WineryName,Website,Vintages,AvgRating
WineID,,,,,,,,,,,,,,,,,
100001,Espumante Moscatel,Sparkling,Varietal/100%,['Muscat/Moscato'],"['Pork', 'Rich Fish', 'Shellfish']",7.5,Medium-bodied,High,BR,Brazil,1001,Serra Gaúcha,10001,Casa Perini,http://www.vinicolaperini.com.br,"[2020, 2019, 2018, 2017, 2016, 2015, 2014, 201...",3.838462
100002,Ancellotta,Red,Varietal/100%,['Ancellotta'],"['Beef', 'Barbecue', 'Codfish', 'Pasta', 'Pizz...",12.0,Medium-bodied,Medium,BR,Brazil,1001,Serra Gaúcha,10001,Casa Perini,http://www.vinicolaperini.com.br,"[2016, 2015, 2014, 2013, 2012, 2011, 2010, 200...",3.250000
100003,Cabernet Sauvignon,Red,Varietal/100%,['Cabernet Sauvignon'],"['Beef', 'Lamb', 'Poultry']",12.0,Full-bodied,High,BR,Brazil,1001,Serra Gaúcha,10002,Castellamare,https://www.emporiocastellamare.com.br,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201...",3.107143
100005,Maison de Ville Cabernet-Merlot,Red,Assemblage/Bordeaux Red Blend,"['Cabernet Sauvignon', 'Merlot']","['Beef', 'Lamb', 'Game Meat', 'Poultry']",11.0,Full-bodied,Medium,BR,Brazil,1001,Serra Gaúcha,10000,Aurora,http://www.vinicolaaurora.com.br,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201...",2.700000
100007,Do Lugar Moscatel Espumantes,Sparkling,Varietal/100%,['Muscat/Moscato Bianco'],"['Pork', 'Rich Fish', 'Shellfish']",7.5,Medium-bodied,High,BR,Brazil,1001,Serra Gaúcha,10012,Dal Pizzol,http://www.dalpizzol.com.br,"[2018, 2017, 2016, 2015, 2014, 2013, 2012, 201...",3.326087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199408,Petite Arvine,White,Varietal/100%,['Petite Arvine'],"['Pasta', 'Shellfish', 'Maturated Cheese', 'Ha...",13.5,Medium-bodied,High,CH,Switzerland,2251,Valais,66662,Niklaus Wittwer,http://www.niklaus-wittwer.ch,"[2020, 2019, 2018, 2017, 2016, 2015, 2014, 201...",3.833333
199481,St. Laurent Reserve,Red,Varietal/100%,['St. Laurent'],"['Beef', 'Lamb', 'Game Meat']",14.0,Medium-bodied,High,AT,Austria,2079,Mittelburgenland,62148,Hundsdorfer,http://www.hundsdorfer.at,"[2018, 2017, 2016, 2015, 2013, 2012, 2011, 200...",4.000000
199533,Mariengarten Chardonnay,White,Varietal/100%,['Chardonnay'],"['Pork', 'Rich Fish', 'Vegetarian', 'Poultry']",12.2,Full-bodied,High,AT,Austria,2086,Südsteiermark,62556,Muster-Gamlitz,http://www.muster-gamlitz.at,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201...",3.166667
199885,Grüner Veltliner Federspiel Ried Kreuzberg,White,Varietal/100%,['Grüner Veltliner'],"['Pork', 'Vegetarian', 'Poultry', 'Lean Fish',...",12.2,Medium-bodied,High,AT,Austria,2089,Wachau,62656,Josef Fischer,http://www.huchenfischer.at,"[2018, 2016, 2015, 2014, 2013, 2012, 2011]",3.666667
200139,Drama Queen Rosé,Rosé,Varietal/100%,['Syrah/Shiraz'],"['Beef', 'Lamb', 'Spicy Food', 'Maturated Chee...",13.0,Full-bodied,Medium,NZ,New Zealand,2490,North Island,69643,Bridge Pa Vineyards,NaN,"[2016, 2014, 2012, 2011, 2010, 2009, 2008, 200...",4.000000

## Aggregation algorithms

In [13]:
def get_wines_ratings(wine_id):
    ratings = ratings_df[ratings_df.WineID == wine_id].reset_index(drop=True).copy(deep=True)
    return ratings

In [14]:
get_wines_ratings(103471)

    RatingID   UserID  WineID Vintage  Rating                 Date
0        143  1356810  103471    1950     4.5  2021-11-02 20:52:59
1      12573  1212696  103471    1967     4.5  2018-12-03 19:27:24
2     114932  1653207  103471    1989     4.0  2021-03-29 13:38:56
3     130625  1314309  103471    1990     4.0  2021-03-05 11:18:01
4     143450  1201703  103471    1990     4.0  2019-06-24 18:34:01
5     143853  1105820  103471    1990     3.5  2019-12-15 09:08:17
6     158092  1147034  103471    1992     4.0  2018-06-23 20:44:48
7     158368  1051351  103471    1992     4.0  2020-12-25 23:49:35
8     188908  1163440  103471    1995     4.0  2020-08-26 19:28:54
9     192788  1002920  103471    1995     5.0  2020-08-15 13:04:37
10    209269  1026008  103471    1995     4.0  2021-11-26 15:15:54
11    213254  1199442  103471    1995     4.0  2020-04-21 11:25:28
12    252596  1050670  103471    1997     5.0  2020-11-15 21:51:33
13    258871  1367385  103471    1997     3.0  2021-01-17 19:23:41
14    263406  1151823  103471    1997     4.5  2018-12-14 21:55:29
15    635117  1184037  103471    2004     4.5  2019-09-28 23:27:36
16    638458  1280992  103471    2004     3.5  2017-07-02 14:01:56
17    638670  1220021  103471    2004     4.5  2019-05-21 20:53:32
18    645711  1277041  103471    2004     4.0  2019-07-31 01:56:50
19    651516  1220574  103471    2004     4.0  2019-02-23 06:28:24
20    663461  1543310  103471    2004     4.0  2019-02-22 20:36:47
21    676974  1571733  103471    2004     4.0  2021-06-06 17:26:44
22    681882  1219452  103471    2004     5.0  2019-07-22 00:17:25
23    684002  1318416  103471    2004     4.0  2019-08-29 18:05:07
24    685377  1083783  103471    2004     4.5  2020-09-09 03:53:23
25    687505  1099454  103471    2004     4.5  2019-08-24 09:16:23
26    691770  1001033  103471    2004     4.0  2020-01-09 16:22:58
27    693376  1258393  103471    2004     4.0  2020-02-01 15:20:02
28    723579  1019849  103471    2004     4.0  2017-11-04 20:32:08
29    730739  1004747  103471    2004     4.0  2019-03-09 23:02:08
30    736023  1167572  103471    2004     4.0  2019-06-19 06:36:51
31    738169  1061419  103471    2004     3.5  2021-03-19 14:18:39
32    747140  1737495  103471    2004     3.5  2018-10-21 17:00:23
33    754944  1126907  103471    2004     4.0  2018-11-05 01:23:46
34   1232012  1189883  103471    2007     4.0  2017-04-23 20:19:37
35   3193194  1089420  103471    2010     3.5  2018-12-05 12:09:50
36  12537621  1225994  103471    2016     4.0  2017-04-17 11:20:05
37  16463075  1000766  103471    2018     4.5  2019-05-11 13:32:50

In [72]:
def get_wine_info(wine_id):
    info = wine_df_avg_ratings.loc[wine_id].copy(deep=True)
    return info

In [73]:
get_wine_info(100001)

WineName                                     Espumante Moscatel
Type                                                  Sparkling
Elaborate                                         Varietal/100%
Grapes                                       ['Muscat/Moscato']
Harmonize                    ['Pork', 'Rich Fish', 'Shellfish']
ABV                                                         7.5
Body                                              Medium-bodied
Acidity                                                    High
Code                                                         BR
Country                                                  Brazil
RegionID                                                   1001
RegionName                                         Serra Gaúcha
WineryID                                                  10001
WineryName                                          Casa Perini
Website                        http://www.vinicolaperini.com.br
Vintages      [2020, 2019, 2018, 2017, 2016, 2015, 2014, 201...
AvgRating                                              3.838462
Name: 100001, dtype: object

In [30]:
def get_rated_wines(user_id):
    rated_wines = ratings_df[ratings_df.UserID == user_id].reset_index(drop=True).copy(deep=True)
    return rated_wines

In [31]:
get_rated_wines(1356810)

    RatingID   UserID  WineID Vintage  Rating                 Date
0        143  1356810  103471    1950     4.5  2021-11-02 20:52:59
1     106754  1356810  111544    1988     4.5  2017-04-22 13:34:37
2     189235  1356810  112084    1995     5.0  2015-10-19 07:53:56
3     303219  1356810  111461    1998     5.0  2016-10-09 23:28:46
4     566593  1356810  193478    2003     4.0  2017-03-30 18:56:59
5     680472  1356810  111927    2004     4.5  2017-02-08 12:49:59
6     972573  1356810  111484    2006     3.5  2017-04-16 13:58:33
7     981402  1356810  113332    2006     4.0  2018-05-22 10:41:23
8    1587778  1356810  111521    2008     4.0  2017-02-08 12:13:41
9    1715707  1356810  141805    2008     4.0  2018-09-25 11:12:48
10  12880375  1356810  113489    2016     4.0  2017-04-10 18:35:31
11  13387703  1356810  112834    2016     4.0  2017-03-25 17:36:32
12  16789300  1356810  101566    2018     3.5  2020-04-28 15:03:23
13  18626172  1356810  136054    2019     4.0  2020-05-19 12:52:42
14  20579792  1356810  180923    N.V.     4.0  2020-03-12 14:00:09
15  20701720  1356810  155443    N.V.     3.5  2017-06-21 18:36:15
16  20713861  1356810  168128    N.V.     3.0  2018-09-12 12:52:00
17  20790907  1356810  168694    N.V.     4.0  2021-09-18 18:38:52
18  20799675  1356810  112582    N.V.     4.0  2016-11-14 11:43:58
19  20908886  1356810  111468    N.V.     3.5  2017-04-10 18:42:34

## Create the recommendation algorithm

In [45]:
USER_ID = 1356810

### Get the rated wines of the user

In [50]:
rated_wines = get_rated_wines(USER_ID).sort_values(by='Rating', ascending=False).reset_index(drop=True)
rated_wines

    RatingID   UserID  WineID Vintage  Rating                 Date
0     303219  1356810  111461    1998     5.0  2016-10-09 23:28:46
1     189235  1356810  112084    1995     5.0  2015-10-19 07:53:56
2     106754  1356810  111544    1988     4.5  2017-04-22 13:34:37
3        143  1356810  103471    1950     4.5  2021-11-02 20:52:59
4     680472  1356810  111927    2004     4.5  2017-02-08 12:49:59
5     566593  1356810  193478    2003     4.0  2017-03-30 18:56:59
6     981402  1356810  113332    2006     4.0  2018-05-22 10:41:23
7    1587778  1356810  111521    2008     4.0  2017-02-08 12:13:41
8   12880375  1356810  113489    2016     4.0  2017-04-10 18:35:31
9    1715707  1356810  141805    2008     4.0  2018-09-25 11:12:48
10  13387703  1356810  112834    2016     4.0  2017-03-25 17:36:32
11  18626172  1356810  136054    2019     4.0  2020-05-19 12:52:42
12  20799675  1356810  112582    N.V.     4.0  2016-11-14 11:43:58
13  20579792  1356810  180923    N.V.     4.0  2020-03-12 14:00:09
14  20790907  1356810  168694    N.V.     4.0  2021-09-18 18:38:52
15    972573  1356810  111484    2006     3.5  2017-04-16 13:58:33
16  20701720  1356810  155443    N.V.     3.5  2017-06-21 18:36:15
17  16789300  1356810  101566    2018     3.5  2020-04-28 15:03:23
18  20908886  1356810  111468    N.V.     3.5  2017-04-10 18:42:34
19  20713861  1356810  168128    N.V.     3.0  2018-09-12 12:52:00

### Create a dataframe with the scores of the wines. Initial values are 0

In [74]:
wine_score = (pd.DataFrame({
        'WineID': wine_df_avg_ratings.index,
        'Score': 0 
}))
wine_score.set_index('WineID', inplace=True)
wine_score

        Score
WineID
100001      0
100002      0
100003      0
100005      0
100007      0
...       ...
199408      0
199481      0
199533      0
199885      0
200139      0

[1007 rows x 1 columns]

### Establish the weights

In [86]:
# Adjust the provided code and execute it with the necessary data
def recommend_wines(user_id, wine_ratings, wine_info, top_n=10, user_weight=0.7, avg_weight=0.3):
    """
    Recommends wines for a specific user based on their previous ratings.
    The recommendations are scaled between 0 and 10.
    
    Parameters:
    - user_id: the ID of the user for whom to make recommendations.
    - wine_ratings: DataFrame containing user ratings for different wines.
    - wine_info: DataFrame containing wine information.
    - top_n: Number of top recommendations to return.
    - user_weight: The weight given to the user's rating in the recommendation score.
    - avg_weight: The weight given to the average rating of a wine across all users.
    
    Returns:
    - A DataFrame with the top N recommended wines and their likelihood score.
    """
    # Step 1: Get the user's previous ratings
    user_ratings = wine_ratings[wine_ratings['UserID'] == user_id]
    
    if user_ratings.empty:
        return wine_info[['WineName', 'Type', 'Grapes', 'RegionName', 'AvgRating']].sort_values(by='AvgRating', ascending=False).head(top_n)
        
    # Step 2: Merge the user's ratings with the wine information
    wine_with_user_ratings = pd.merge(wine_info, user_ratings[['WineID', 'Rating']], on='WineID', how='left', suffixes=('', '_user'))
    
    # Step 3: Compute the likelihood score
    # Initialize a new column for LikelihoodScore
    wine_with_user_ratings['LikelihoodScore'] = 0
    
    # Loop over each row and calculate the likelihood score
    for idx, row in wine_with_user_ratings.iterrows():
        if pd.notna(row['Rating']):  # If the user has rated this wine
            # Calculate the weighted average of the user's rating and the average rating
            likelihood_score = (row['Rating'] * user_weight) + (row['AvgRating'] * avg_weight)
        else:
            # If the user hasn't rated this wine, use the average rating (scaled to 0-10)
            likelihood_score = (row['AvgRating'] * 10) / 5
    
        # Assign the calculated likelihood score to the corresponding row
        wine_with_user_ratings.at[idx, 'LikelihoodScore'] = likelihood_score
    
    # Step 4: Return the top N recommendations
    recommendations = wine_with_user_ratings[['WineName', 'Type', 'Grapes', 'RegionName', 'AvgRating', 'LikelihoodScore']].sort_values(by='LikelihoodScore', ascending=False).head(top_n)
    
    return recommendations

# Test the function for a specific user (using user ID 1209683 as an example)
user_id = 1209683
recommendations = recommend_wines(user_id, ratings_df, wine_df_avg_ratings)

recommendations

/var/folders/qx/s0s669bd3mx83v921rrrxcjw0000gn/T/ipykernel_88510/2447216961.py:41: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '7.676923076923077' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  wine_with_user_ratings.at[idx, 'LikelihoodScore'] = likelihood_score

,WineName,Type,Grapes,RegionName,AvgRating,LikelihoodScore
831,Solari,Red,['Cabernet Sauvignon'],Napa Valley,4.807692,9.615385
481,Tre Soli Tre Grappa Invecchiata,Dessert,['Nebbiolo'],Piemonte,4.794118,9.588235
819,Lauréne Pinot Noir,Red,['Pinot Noir'],Dundee Hills,4.794118,9.588235
258,Oenothèque Brut Champagne,Sparkling,"['Pinot Noir', 'Chardonnay']",Champagne,4.757212,9.514423
809,IX Estate Red,Red,"['Cabernet Sauvignon', 'Cabernet Franc', 'Merl...",Napa Valley,4.728261,9.456522
827,Fortis Cabernet Sauvignon,Red,['Cabernet Sauvignon'],Napa Valley,4.722222,9.444444
837,Tychson Hill Vineyard Cabernet Sauvignon,Red,['Cabernet Sauvignon'],Napa Valley,4.714286,9.428571
821,Red Blend,Red,"['Cabernet Sauvignon', 'Cabernet Franc', 'Merl...",Napa Valley,4.712500,9.425000
867,Port,Dessert/Port,['Syrah/Shiraz'],Sonoma Valley,4.700000,9.400000
187,Pauillac (Premier Grand Cru Classé),Red,"['Cabernet Sauvignon', 'Cabernet Franc', 'Merl...",Pauillac,4.687269,9.374539